body{
	margin:0px;
	padding:0px;
}
header{
	background:white;
	font-family:"PT sans";
	display:flex;
	justify-content:space-between;
}
#icon img{
	height:40px;
	width:40px;
	padding:2px;
}
#icon p{
	font-family:"Roboto Slab";
	padding-left:4px;
}
#icon{
	display:flex;
	flex-direction:row;
}
nav ul{
	list-style:none;
	display:flex;
}
nav li{
	margin-left:15px;
}
nav li a{
	text-decoration:none;
	color:black;
}
#icons img{
	height:30px;
	width:30px;
}
.icons img{
	height:35px;
	width:35px;
}
#icons{
	margin-right:80px;
}
#image{
	height:100%;
	width:100%;
	background-image:url("vegetables.jpg");
	background-size:cover;
	background-position:center;
}
#image-content{
	margin:0 auto;
	text-align:center;
	padding-top:300px;
	width:950px;
}
h1{
	font-family:"Roboto Slab";
	color:rgb(255, 255, 0);
	font-size:40px;
	margin:0;
	text-shadow:1px 2px 2px rgb(26, 26, 26);
}
#image-content p{
	font-family:"PT sans";
	color:rgb(255, 255, 0);
	font-size:20px;
}
#image-content a{
	text-decoration:none;
	color:rgb(0, 0, 77);
	background-color:white;
	padding:9px;
	border-radius:10px;
	font-size:20px;
	font-family:"Sofia Sans";
	font-weight:700;
	border:solid 1px rgb(0, 0, 77);
	
}
#image-content a:hover{
	color:rgb(0, 0, 77);
	background-color:rgb(255, 255, 0);
	transition:0.3s;
	box-shadow:2px 2px 1px black;
}
#comment{
	background-color:rgb(242, 242, 242);
}
.comment{
	font-family:"Roboto Slab";
    text-align:center;
	padding:20px;
}
#review{
	margin:0 auto;
	text-align:center;
	width:800px;
	box-shadow:2px 4px 2px black;
	font-family:"PT sans";
	border:solid 1px black;
	border-radius:6px;
	padding:10px 30px;
}
#review img{
	height:60px;
	width:60px;
	border-radius:28px;
	margin-top:15px;
}
h4{
	font-family:"Roboto Slab";
	font-weight:700;
}
#blogs ul{
	list-style:none;
	display:flex;
	padding-bottom:40px;
	gap:20px;
	margin-left:170px;
}
#blogs li{
	background-color:rgb(217, 217, 217);
	border-radius:3px;
	text-align:center;
	overflow:hidden;
	box-shadow:1px 1px 4px rgb(0,0,0,0.5);
	width:340px;
	height:580px;
	padding-top:5px;
	
}
#blogs img{
	height:350px;
	width:330px;
	object-fit:cover;
}
#blogs li h2{
	font-family:"PT sans";
}
#blogs li p{
	font-family:"PT sans";
	padding-bottom:10px;
}
#blogs li a{
	text-decoration:none;
	font-family:"Sofia Sans";
	padding:10px;
	border-radius:6px;
	border:solid 1px black;
	background-color:white;
}
#blogs li a:hover{
	box-shadow:1px 2px 2px rgb(153, 153, 153,0.5);
}
footer{
	display:flex;
	justify-content:space-between;
	margin:10px;
}
footer div{
	display:flex;
	flex-direction:column;
} 
#fl{
	display:flex;
	list-style:none;
}
#fl li{
	padding:7px;
}
#abc a img{
	height:40px;
	width:40px;
}
footer p{
	font-family:"PT sans";
}
footer h2{
	font-family:"PT sans";
}
.links{
	margin-right:30px;
	
}
.links a{
	text-decoration:none;
	padding:4px;
	color:black;
	font-family:"Sofia Sans";
	font-weight:700;
}
.links a:hover{
	color:rgb(255, 102, 0);
}
.links img{
	height:25px;
	width:25px;
}

	

